<!--
	用于支持safari下,click事件可以委托在div上
 -->
.clickable_div{
	cursor: pointer;
}
input,textarea{ outline:0; resize:none;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.hoo_tab_item{
	padding-top: 0.5em;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    text-align: center;
    color: rgb(102, 102, 102);
}
.hoo_tab_item .cusor{
	margin: 0 auto;
    height: 0.2em;
    margin-top: 0.3em;
    position: relative;
    top: 1px;
}
.hoo_tab_item_focus{
	color: rgb(255, 68, 0);
}
.hoo_tab_item_focus .cusor{
	background-color: rgb(255, 68, 0);
}

.hoo_custom_tab_item{
	padding-top: 0.5em;
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #BCBAB6;
}
.hoo_custom_tab_item a{
	color: #A7A39F;
}
.hoo_custom_tab_item_focus a {
	color: #1f1f1f;
}
.hoo_custom_tab_item_cusor{
	width: 70%; 
	max-width: 6em;
    margin:0 auto;
	height: 0.2em;
    margin-top: 0.3em;
    position: relative;
    top: 1px;
}
.hoo_custom_tab_item_focus .hoo_custom_tab_item_cusor{
	background-color: #00a1d6;
}
